<footer class="site-footer">
    <ul>   
        <li><a href="/coffee-shop{% link about.html%}">About Us</a></li>
        <li><a href="/coffee-shop{% link gallery.html%}">Gallery</a></li>
    </ul>
    <ul>
        <li>Contact Us</li>
        <li><a class="callButton" href="/coffee-shop{% link contact.html%}">Call</a></li>
        <li>Mon-Fri: 8AM - 10PM</li>
    </ul>
    <ul>
        <li><i class="fa fa-facebook-square"></i></li>
        <li><i class="fa fa-instagram"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-pinterest"></i></li>
    </ul>
</footer>