<header class="site-header">
    <div class="hf-container">
        <a class="site-logo" href="/coffee-shop/coffee-shop">
            <img src="/coffee-shop/coffee-shop-logo.jpg" alt="site-logo" style="max-width: 50px;">
            <h1>{{site.title}}</h1>
        </a>
        <div class="site-menu">
            <nav class="site-nav">
                <ul>
                    {% assign ordered_menu = site.pages | sort: "order" %}
                    {% for aPage in ordered_menu %}
                        {% if aPage.title %}    
                        <!-- ADD /coffee-shop     to href -->
                            <li class="site-menu-item {% if aPage.url == page.url %}current-page{% endif %}"><a href="/coffee-shop{{site.baseurl}}{{aPage.url}}">{{aPage.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>