
.about-container{
    display: flex;
    justify-content: center;
    

    .about-info{
        display: flex;
        @include bp(desktop) {
            flex-direction: column;
            text-align: center;
        }

        @include bp(mobile) {
            flex-direction: column;
        }
        width: 70%;
        background-color: rgba(231, 229, 229, 0.623);
        border: 3px solid rgba(0, 0, 0, 0.6);

    }

    h2{
        text-align: center;
        padding-top: 1em;
    }

    img{
        @include bp(desktop) {
            width: 70%;
            padding:0;
        }
        @include bp(mobile) {
            width: 90%;
            padding:0 0 4em 4em;
        }
        width: 700px;
        height: 400px;
        padding: 0 0 4em 4em;
        
    }

    .about-intro >p{
        padding: 4em;
    }
    .about >p{
        @include bp(desktop) {
            padding: 4em 4em 4em 4em;
        }
        @include bp(mobile) {
            padding: 4em 4em 4em 4em;
        }
        padding: 7em 4em 0 3em;
    }
}
