.cakes{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(231, 229, 229, 0.623);
    ul{
        width: 80% ;
        display: flex;
        flex-wrap: wrap;

        @include bp(items){
            justify-content: center;
        }
        li{
            margin: 0.5em;
            font-size: 1.5em;
            width: 258.78px;
            height: 296.78px;
            
        }
    }

    .item:hover{
        background-color: rgba(231, 229, 229, 0.623);
    }

    img{
        margin: 1em 1em 0em 1em;
        width: 200px;
        height: 200px;
        border-radius: 20%;
        border: 3px solid rgba(0, 0, 0, 0.6);
    }
    a{
        display: block;
    }

    p{
        padding-bottom: 0.5em;
    }
}