.site-header{
    height: 90px;
    width: 100%;
    background-color: $baseColor;
    border-bottom: 3px solid black;
    position: fixed;
    z-index: 999;

    @include bp(desktop) {
        height: 130px;
        padding-top: 1em;
    }

    @include bp(header) {
        height: 130px;
        padding-top: 1em;
    }

    @include bp(mobile)
    {
        height: 150px;
    }

}

.hf-container {
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @include bp(desktop) {
        flex-direction: column;
        padding-bottom: 2em;
    }

    @include bp(header) {
        flex-direction: column;
        padding-bottom: 2em;
    }

    @include bp(mobile)
    {
        flex-direction: column;
        padding-bottom: 1em;

        height: 230px;
    }
}

.site-logo{
    display: flex;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

nav{

    ul {
        display: flex;
        justify-content: space-evenly;
        @include bp(mobile) {
            //flex-direction: column;
            flex-wrap: wrap;
           padding-bottom: 5em;

           
            -webkit-columns: 2; /* Chrome, Safari, Opera */
            -moz-columns: 2; /* Firefox */
            columns: 2;

            // li{
            //     padding-bottom: 0.3em;
            // }

        }

    }

    a {
        text-decoration: none;
        font-size: 1.3em;
        height: 100%;
        padding: 0.2em 0.6em;
        border-radius: 0.2em;
        font-weight: bold;
        font-style: italic;

    }
    
  



    a:hover, .current-page a{
        //background-color: #bfdaef;

        text-decoration: underline;
        color: #000000;
    }
    .current-page a{
        font-style: normal;
    }
}
